<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{club['email']}} </h2><a href="{{ url_for('logout') }}">Logout</a>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    Points available: {{club['points']}}
    <h3>Open Competitions:</h3>
    <ul>
        {% for competition in present_competitions %}
        <li>
            {{competition['name']}}<br />
            Date: {{competition['date']}}
            Number of Places: {{competition['numberOfPlaces']}}
            {% if competition['numberOfPlaces'] | int > 0 %} 
            <a href="{{ url_for('book', competition_name=competition['name'], club_name=club['name']) }}">Book Places</a>
            {% elif competition['numberOfPlaces'] | int == 0 %}
            Booking Closed.
            {%endif%}
            <hr>
        </li>

        {% endfor %}
    </ul>
    <h3>Past Competitions:</h3>
    <ul>
        {% for competition in past_competitions %}
        <li>
            {{competition['name']}}<br />
            Date: {{competition['date']}}
            Booking closed.
            <hr>
        </li>

        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>